<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Reservierung hinzufügen</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/reservation/reservations">Reservierungen</a></li>
                    <li><i class="fa fa-square-o"></i>Hinzufügen</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <form class="form-horizontal" th:action="@{/reservation/reservations}" method="post">
                        <section class="panel">
                            <header class="panel-heading">
                               Neue Reservierung hinzufügen
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="idAdd" class="col-form-label col-sm-4">Id:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="idAdd" name="id" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usernameAdd" class="col-form-label col-sm-4">Username:</label>
                                    <div class="col-sm-3">
                                        <span sec:authentication="name" id="usernameAdd" name="username" readonly>Username</span>
                                    </div>
                                    <label for="userid" class="col-form-label col-sm-2">Userid:</label>
                                    <div class="col-sm-3">
                                        <input th:value="${#authentication.getPrincipal().getId()}" id="userid" name="userid" readonly>
                                    </div>
                                </div>

                             <!--   <div class="form-group">
                                    <label for="ddlUserAdd" class="col-form-label col-sm-4">Benutzer: </label>
                                    <div class="col-sm-6">
                                          <input type="text" class="form-control" th:value="${user.name}"   id="ddlUserAdd" name="user" disabled>
                                          <select class="form-control" id="ddlUsersAdd" name="Userid">
                                              <option>-SELECT-</option>
                                              <option th:this="user : ${users}"
                                                        th:value="${user.id}"
                                                        th:text="${user.name}">
                                                </option>
                                            </select>
                                      </div>
                                </div> -->

                                  <div class="form-group">
                                      <label for="reservationDateAdd" class="col-form-label col-sm-4">Datum:</label>
                                      <div class="col-sm-6">
                                          <input type="date" class="form-control" id="reservationDateAdd" name="reservationDate" required>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="reservationDateAdd" class="col-form-label col-sm-4">Uhrzeit:</label>
                                    <div class="col-sm-6">
                                        <input type="time" class="form-control" id="reservationtimeAdd" name="reservationTime" required>
                                    </div>
                                </div>
                                  <div class="form-group">
                                      <label for="seatsAdd" class="col-form-label col-sm-4">Sitzplatz anzahl:</label>
                                      <div class="col-sm-6">
                                          <input type="number" class="form-control" id="seatsAdd" name="seats" required>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="ddlRestaurantAdd" class="col-form-label col-sm-4"> Restaurant: </label>
                                      <div class="col-sm-6">
                                          <select class="form-control" id="ddlRestaurantAdd" name="restaurantid" required>
                                              <option>-SELECT-</option>
                                              <option th:each="restaurant : ${restaurants}"
                                                    th:value="${restaurant.id}"
                                                    th:text="${restaurant.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div> <!--Restaurant -->


                            </div>
                        </section>
                        <section class="panel">

                            <div class="panel-body">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                                <a href="/reservation/reservations" class="btn  btn-warning">
                                    Exit
                                </a>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
