<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Restaurant Bearbeiten</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index"> Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/restaurant">Restaurant</a></li>
                    <li><i class="fa fa-square-o"></i>Bearbeiten</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <form class="form-horizontal" th:action="@{/restaurant/restaurants}" method="post">
                        <section class="panel">
                            <header class="panel-heading">
                                Restaurant Bearbeiten
                            </header>
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label for="txtIdAdd" class="col-sm-4 col-form-label">Id: </label>
                                        <div class="col-sm-6">
                                            <input id="txtIdAdd" name="id" th:value="${restaurant.id}" type="text" size="16" readonly class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtNameAdd" class="col-sm-4 col-form-label">Restaurantname: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:value="${restaurant.name}" id="txtNameAdd" name="name" placeholder="Restaurantname">
                                        </div>
                                    </div> <!--Restaurantname-->
                                    <div class="form-group row">
                                        <label for="txtseatsAdd" class="col-sm-4 col-form-label">Sitzplatz Anzahl: </label>
                                        <div class="col-sm-6">
                                            <input type="number" class="form-control" th:value="${restaurant.seats}" id="txtseatsAdd" name="seats" placeholder="0">
                                        </div>
                                    </div>  <!--seats-->
                                    <div class="form-group row">
                                        <label for="txtzipcodeAdd" class="col-sm-4 col-form-label">Postleitzahl: </label>
                                        <div class="col-sm-6">
                                            <input type="number" class="form-control" th:value="${restaurant.zipcode}" id="txtzipcodeAdd" name="zipcode" placeholder="99999">
                                        </div>
                                    </div>  <!--zipcode-->
                                    <div class="form-group row">
                                        <label for="txtAddressAdd" class="col-sm-4 col-form-label">Adresse:</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" id="txtAddressAdd" th:value="${restaurant.address}" name="address" ></input>
                                        </div>
                                    </div>  <!--Address-->
                                    <div class="form-group row">
                                        <label for="txtcategoryAdd" class="col-sm-4 col-form-label">Kategorie: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:value="${restaurant.category}" id="txtcategoryAdd" name="category" placeholder="Kategorie">
                                        </div>
                                    </div> <!--category-->
                                    <div class="form-group row">
                                        <label for="txtphonenumberAdd" class="col-sm-4 col-form-label">Telefonnummer: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:value="${restaurant.phonenumber}" id="txtphonenumberAdd" name="phonenumber" placeholder="Telefonnummer">
                                        </div>
                                    </div> <!--phonenumber-->
                                    <div class="form-group row">
                                        <label for="txtEmailAdd" class="col-sm-4 col-form-label">Email:</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" th:value="${restaurant.email}" id="txtEmailAdd" name="email" placeholder="Email">
                                        </div>
                                    </div>  <!--email-->
                                </div> <!--Linkespalte-->
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label for="txtohmoAdd" class="col-sm-4 col-form-label">Öffnugszeiten Montag: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:value="${restaurant.ohmo}" id="txtohmoAdd" name="ohmo" placeholder="00:00-00:00">
                                        </div>
                                    </div> <!--ohmo-->
                                    <div class="form-group row">
                                        <label for="txtohtuAdd" class="col-sm-4 col-form-label">Öffnugszeiten Dienstag: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:value="${restaurant.ohtu}" id="txtohtuAdd" name="ohtu" placeholder="00:00-00:00">
                                        </div>
                                    </div> <!--ohtu-->
                                    <div class="form-group row">
                                        <label for="txtohweAdd" class="col-sm-4 col-form-label">Öffnugszeiten Mittwoch: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"  th:value="${restaurant.ohwe}"id="txtohweAdd" name="ohwe" placeholder="00:00-00:00">
                                        </div>
                                    </div> <!--ohwe-->
                                    <div class="form-group row">
                                        <label for="txtohthAdd" class="col-sm-4 col-form-label">Öffnugszeiten Donnerstag: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"  th:value="${restaurant.ohth}" id="txtohthAdd" name="ohth" placeholder="00:00-00:00">
                                        </div>
                                    </div> <!--ohth-->
                                    <div class="form-group row">
                                        <label for="txtohfrAdd" class="col-sm-4 col-form-label">Öffnugszeiten Freitag: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:value="${restaurant.ohfr}" id="txtohfrAdd" name="ohfr" placeholder="00:00-00:00">
                                        </div>
                                    </div> <!--ohfr-->
                                    <div class="form-group row">
                                        <label for="txtohsaAdd" class="col-sm-4 col-form-label">Öffnugszeiten Samstag: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:value="${restaurant.ohsa}" id="txtohsaAdd" name="ohsa" placeholder="00:00-00:00">
                                        </div>
                                    </div> <!--ohsa-->
                                    <div class="form-group row">
                                        <label for="txtohsuAdd" class="col-sm-4 col-form-label">Öffnugszeiten Sonntag: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:value="${restaurant.ohsu}" id="txtohsuAdd" name="ohsu" placeholder="00:00-00:00">
                                        </div>
                                    </div> <!--ohsu-->
                                </div> <!--Rechtespalte-->
                            </div>
                        </section>

                        <section class="panel">

                            <div class="panel-body">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                                <a href="/restaurant/restaurants" class="btn  btn-warning">
                                    Exit
                                </a>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
